/* -------- Variables globales -------- */
:root {
    --font-base: 'Inter', system-ui, sans-serif;

    --color-bg: #0f0f12;
    --color-text: #f5f5f5;
    --color-muted: #b3b3b3;
    --color-primary: #7c5cff;

    --radius-sm: 6px;
    --radius-md: 10px;
    --radius-lg: 16px;

    --space-xs: .25rem;
    --space-sm: .5rem;
    --space-md: 1rem;
    --space-lg: 1.5rem;
    --space-xl: 2rem;

    --container-width: 1200px;
}